.footer {
    background-color: white;
    padding: 20px 0;
  }
  
  .partners-logos img {
    margin: 0 8px;
    width: 120px;
  }


  
.newsletter {
  background-color:  #7aa6ee;
  color: black;
    /* padding-left: 49vw;  
    padding-right: 50vw;  
    margin-left: -50vw; 
    margin-right: -50vw; */
  
  }

.newsletter-text{
   font-weight: bold;
   font-family: sans-serif;
   margin-bottom: 0px !important;
  }

  
  .newsletter-form .form-control {
    width: 252px;
  }

  .newsletter-form .btn {
    flex-shrink: 0; /* Prevent the button from shrinking */
    padding: 6px 6px !important;
  }
  
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-column {
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-column a {
    display: block;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
  }

  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-icons img {
    margin: 0 8px;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  
  .footer-policies {
    margin-left: 20px;
  }
  
  .footer-policies a {
    margin-right: 20px;
  }
  
  .footer-icons img {
    width: 25px;
    margin: 0 5px;
  }
  .subscribing{
 font-size: 16px;
 font-family: sans-serif;
  }

  .footer-bottom-box{
flex-direction: row;
  }

  @media (max-width: 768px) {
    .footer-icons {
      margin-top: 10px;
    }

    .our-partner{
      font-size: 22px;
  }
  
    .footer-column {
      text-align: center;
    }
  
    .footer-bottom {
      align-items: center;
    }

    .footer-bottom-box{
        flex-direction: column !important;
        margin-top: 5px;
        margin-bottom: 10px;
          }

      

    .newsletter-form .form-control {
      width:  auto;
      }

      .newOne{
        padding-bottom: 10px;
      }

      .subscribing{
        padding-top: 15px;
      }
     .newsletter-text{
      padding-bottom: 15px;
     }
     
  }
  
  @media (max-width: 576px) {
    .partners-logos img {
      width: 60px;
    }

    .our-partner{
        font-size: 18px;
    }
  
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      width: 100%;
      text-align: center;
    }
  
    .footer-bottom {
      text-align: center;
    }
  
    .footer-icons {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .footer-bottom-box{
        flex-direction: column !important;
        margin-top: 5px;
        margin-bottom: 10px;
        }
  
    .footer-policies {
      margin-top: 10px;
    }

    .newOne{
      padding-bottom: 15px;
    }

    .newsletter-form .form-control {
      width:  150px;
      padding: 5px;
      }

.subscribing{
  padding-top: 10px;
}

.newsletter-text{
  padding-bottom: 15px;
 }
   
  }